@import 'reset';

@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Condensed'), url('fonts/MYRIADPRO-COND.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Condensed'), url('fonts/MYRIADPRO-BOLDCOND.woff') format('woff');
}

/*
 * Variables
 */

$font-regular:  'Myriad Pro Condensed';
$font-bold:     'Myriad Pro Bold Condensed';

$font-regular-size:  17px;
$font-medium-size:   20px;
$font-large-size:    40px;

$margin-regular-size:  8.5px;
$margin-large-size:    30px;

$wrapper-width:  960px;

/* Colors */

$black:  #000;
$white:  #fff;

$gray-light:    #e2ded5;
$gray:          #bfbcb2;
$gray-dark:     #a9a69c;
$gray-xs-dark:  #a8a9a7;
$gray-xxs-dark: #3D3C37;

$blue-light: #78cbf7;

$orange:        #fb7a3c;
$orange-light:  #ffe6c0;

$red-dark:  #ae311f;

$green-dark:  #446e36;

$yellow-dark:  #ffc300;

$mockup-color: #a8a9a7;

/* Auxiliar classes */

.full-screen {
  width: 100%;
  height: 100%;
}

.full-screen-background {
  background-size: cover;
  background-repeat: no-repat;
  background-position: center;
}

.image-footer {
  width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.text-box-transparent {
  width: 100%;
  background: $white;
  opacity: 0.7;
  padding: 20px 10px;
}

/*
 * General
 */

* {
  box-sizing: border-box;
}

body {
  color: $gray-xxs-dark;
  font-family: $font-regular;
  font-weight: normal;
  font-size: $font-regular-size;
  margin: 0;
  max-width: 100%;
}

h4 {
  font-size: $font-regular-size;
  margin-bottom: $margin-regular-size;
}

p {
  margin-bottom: $margin-regular-size;
}

strong {
  font-family: $font-bold;
  font-weight: bold;
}

section {
  @extend .full-screen-background;
  display: table;
  height: 100vh;
  margin: 0;
  max-width: none;
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

/*
 * Components
 */

/* Navigation bar */

header {
  background: $black;
  opacity: 0.85;
  position: fixed;
  width: 100%;
  z-index: 2;

  .content {
    padding-top: 0;

    #logo h1 {
      background-image: url('../img/logo.png');
      background-position: center -15px;
      background-repeat: no-repeat;
      background-size: 215px 115px;
      display: table-cell;
      height: 80px;
      position: absolute;
      text-indent: -9999px;
      width: 170px;
    }

    ul.items {
      margin: 31.5px 0 31.5px 200px;

      li {
        margin-left: 20px;

        a.item {
          color: $gray-xs-dark;

          &:hover, &.active {
            color: $white;
          }
        }
      }
    }
  }
}

/* List items */

ul.items, li {
  display: inline-block;
}

ul.items li {
  margin-left: 10px;

  a.item {
    display: inline-block;
    text-decoration: none;
  }

  &:first-child a.item {
    margin-left: 0;
  }
}

/* Wrapper */

.content {
  display: table;
  height: 100%;
  margin: 0 auto 0 auto;
  padding-top: 130px;
  position: relative;
  width: $wrapper-width;
}

/* Slideshow */

.slideshow {
  @extend .full-screen;
  position: relative;

  .slide {
    @extend .full-screen;
    @extend .full-screen-background;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 1s opacity;

    &.show {
      opacity: 1;
    }

    &.slide-1 {
      background-image: url(../img/slide-1.png);
    }

    &.slide-2 {
      background: $mockup-color;
    }
  }

  .menu {
    bottom: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    ul.items li a.item {
      background: $black;
      border: 2px solid $black;
      border-radius: 15px;
      height: 15px;
      width: 15px;

      &.active {
        background: $white;
      }
    }
  }
}

/* Section title */

.section-title {
  color: $white;
  display: inline-block;
  font-size: $font-large-size;
  margin-bottom: $margin-large-size;
  position: relative;
}

.section-subtitle {
  font-size: $font-medium-size;
  font-size: 25px;
  display: inline-block;
  margin-bottom: $margin-large-size;
  width: 152px;
  position: relative;
}

.section-title.logo:before, .section-subtitle.logo:before {
  background-image: url(../img/small-logo.png);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 29px;
  content: '';
  display: block;
  height: 40px;
  left: -34px;
  position: absolute;
  top: -7px;
  width: 30px;
}

.section-subtitle.logo:before {
  top: 0;
}

/* Gallery */

.gallery {
  position: absolute;
  z-index: 1;

  ul.items li {
    margin-top: 10px;

    &.first-col {
      margin-left: 0;
    }

    &.first-row {
      margin-top: 0;
    }

    a.item {
      background: $mockup-color;
      border: 5px solid $white;
      border-radius: 40px;
      height: 80px;
      width: 80px;
    }
  }

  &.vertical {
    width: 80px;
  }
}

/* Sections */

#about {
  background-image: url(../img/wall.png);

  .section-title strong {
    color: $gray-dark;
  }

  .text-box {
    background: radial-gradient($gray-light, $gray);
    height: 393px;
    left: 5%;
    padding: 40px 124px 40px 64px;
    position: absolute;
    top: 16%;
    width: 650px;

    p {
      margin-bottom: 30px;
    }
  }

  #trainers {
    height: 660px;
    position: absolute;
    right: -1%;
    top: 6%;
    z-index: 2;
  }
}

#acqua {
  background-image: url(../img/swimmer.png);

  .title-box, .text-box {
    color: $white;
    right: 45%;
    position: absolute;
    text-align: right;
    width: 389px;
  }

  .title-box .section-title strong {
    color: $blue-light;
  }

  .gallery {
    right: 26%;
    top: 190px;

    ul.items li {
      margin-top: 0;
    }
  }

  .text-box {
    top: 295px;
  }

}

#fitness {
  background-attachment: fixed;
  background-image: url(../img/speedway-sky.png);

  .content {
    padding-left: 5%;

    .block {
      width: 400px;
      position: absolute;
      left: 5%;

      .section-title strong {
        color: $orange;
      }

      .text-box {
        color: $orange-light;
        margin-bottom: $margin-large-size;
      }
    }

    .gallery {
      width: 170px;
      left: 5%;
      top: 310px;
    }
  }

  #speedway {
    @extend .image-footer;
  }

  #runner {
    max-height: 95%;
    position: absolute;
    right: -30px;
    top: 2.5%;
    z-index: 2;
  }
}

#sports {
  background-attachment: fixed;
  background-image: url(../img/city.png);

  .content {
    text-align: right;

    .block-title {
      position: absolute;
      right: 5%;

      .section-title strong {
        color: $red-dark;
      }
    }

    .block-content {
      display: block;
      position: absolute;
      right: 5%;
      top: 190px;

      .block {
        display: inline-block;
        margin-right: 90px;
        position: absolute;
        right: 0;
        width: 450px;

        #balls {
          width: 100%;
          margin-bottom: -24px;
        }

        .text-box {
          @extend .text-box-transparent;
        }
      }

      .gallery {
        right: 0;
        top: 0;
      }
    }
  }

  #pakour {
    @extend .image-footer;
    bottom: -30px;
  }
}

#adventure {
  background-image: url(../img/road.png);

  .content {
    padding-right: 5%;

    .section-title strong {
      color: $green-dark;
    }

    .block {
      display: inline-block;
      margin-left: 120px;
      text-align: right;
      width: 450px;
      position: absolute;

      .text-box {
        @extend .text-box-transparent;
      }
    }

    #cyclist {
      height: 95%;
      position: absolute;
      right: -30%;
      top: 2.5%;
      z-index: 2;
    }
  }
}

#pedagogy {
  background-image: url(../img/blue-sky.png);

  .content {
    text-align: right;

    .block-title, .block-content {
      position: absolute;
      right: 5%;
    }

    .block-content {
      top: 201px;
    }

    .section-title strong {
      color: #96bccb;
    }

    .block {
      display: block;
    }

    .text-box {
      width: 350px;
      color: #fff;
      display: inline-block;
    }

    .gallery {
      position: initial;
    }

    #aviator {
      bottom: 0;
      height: 600px;
      left: -5%;
      position: absolute;
    }
  }
}

#events {
  background-image: url(../img/red-bkg.png);

  .content {
    padding-left: 5%;

    .section-title strong {
      color: #e73c1e;
    }

    .text-box  {
      width: 350px;
      color: #fff;
    }
  }

  #confetti {
    position: absolute;
    top: 0;
    right: -100px;
    width: 500px;
  }

  #picnic-basket {
    position: absolute;
    width: 450px;
    right: -100px;
    bottom: 10%;
  }

  #ballon {
    position: absolute;
    top: 10px;
    right: -50px;
    width: 140px;
    z-index: 2;
  }
}

#health {
  background-image: url(../img/hall.png);

  .content {

    .block {
      color: $white;
      text-align: right;
      position: absolute;
      width: 300px;

      .section-title strong {
        color: $yellow-dark;
      }
    }

    .gallery {
      right: 5%;
      top: 115px;
    }

    #fruits {
      height: 90%;
      position: absolute;
      right: 180px;
      top: 3%;
      z-index: 2;
    }
  }
}

#contact {
  background-image: url(../img/forest.png);

  .content {
    padding: 120px 5% 0 5%;

    .block {
      width: 50%;
      float: left;
      position: relative;
      height: 571px;

      .text-box-black {
        width: 90%;
        background: $black;
        opacity: 0.8;
        padding: 30px 20px;

        label, input, textarea {
          display: block;
          font-size: 16px;
          font-family: $font-regular;
        }

        .text {
          margin: 5px 0 15px;
          padding: 8px;
          width: 100%;
          border: none;
          background: $gray-xxs-dark;
        }

        button {
          display: block;
          padding: 10px 20px;
          border: none;
          background: #D38248;
        }
      }

      .contacts {
        position: absolute;
        width: 90%;
        right: 0;
        bottom: 0;

        .card {
          text-align: center;
        }
      }
    }
  }
}
